<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="/styles/output.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<title>Lista de contactos</title>
</head>
<body class="h-screen pt-16 w-full">
    <nav id="navbar" class="fixed top-0 right-0 left-0 bg-violet-700 h-16">
    </nav>
  
	<div class="w-full h-full pt-4 max-h-screen flex max-w-7xl mx-auto justify-center items-center px-4 gap-16">
		<div class="w-full h-full p-4 gap-48">
			<h3 class="flex justify-center items-center text-lime-300 text-center text-4xl md:text-7xl">Contactos</h3>
        <div class="p-8 flex flex-row justify-center items-center gap-4">

            <form id="form" class="flex flex-raw justify-center items-center gap-4 bg-violet-100 p-4 rounded-xl text-md shadow-lg md:w-9/12 lg:w-2/4">

                <div class="flex flex-col justify-center items-center text-center p-2 gap-2">
                        <div class="flex flex-raw gap-2">
                            <label for="name-input" class="font-bold flex justify-items-center items-center text-zinc-900">Nombre</label>
                            <input 
                            type="text"
                            id="name-input" 
                            name="name-input" 
                            autocomplete="off"
                            class="rounded-lg p-2 bg-white focus:outline-violet-700"
                            >
                        </div>

                        <div class="flex flex-raw gap-2">
                            <label for="number-input" class="font-bold flex justify-items-center items-center text-zinc-900">Teléfono</label>
                            <input 
                            type="text"
                            id="number-input" 
                            name="number-input" 
                            autocomplete="off" 
                            class="rounded-lg p-2 bg-white focus:outline-violet-700"
                            >
                            <p id="error-text" class="text-sm text-red-600"></p>
                        </div>

                </div>
                <button disabled class="add-btn p-2 bg-violet-600 rounded-full cursor-pointer scale-100 hover:scale-110 transition duration-300 easy-in-out disabled:opacity-50">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:h-7 md:w-7 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                    </svg>
                </button>
            </form>
        </div>
           
        <div class="p-2 w-full flex justify-center items-center overflow-y-auto grow">
            <ul class="flex flex-col justify-center items-center gap-4 text-slate-800 text-sm md:text-xl">	
               
            </ul>

        </div>
        <div class="w-full p-4 flex flex-row justify-center md:items-center md:gap-8 text-white">
            <span class="total-contacts p-2 bg-violet-600 text-xs md:text-sm rounded-md">Total: <span class="total-count"></span></span>
        </div>

		</div>
	</div>




	<script type="text/javascript" src="./index.js"></script>
	<script src="/components/nav.js"></script>
</body>
</html>